.header {
  cursor: default;
  height: 60px;
}

.navigation {
  position: fixed;
  min-width: 380px;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Open Sans Condensed", sans-serif;
  height: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  z-index: 9999;
  background-color: rgb(0, 0, 0, 0.9);
}
#mainTitle {
  display: block;
  position: relative;
  float: left;
  margin-left: 30px;
  line-height: 60px;
  padding-right: 20px;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
#mainTitle:after {
  content: "";
  width: 1px;
  height: 75%;
  position: absolute;
  right: 0;
  top: 8px;
  background-color: #66b2ff;
}
#mainTitle:hover {
  color: #66b2ff;
}
#timerName {
  display: block;
  margin-left: 20px;
  float: left;
  line-height: 60px;
  color: white;
}
.server {
  display: block;
  float: right;
  color: white;
}
#serverTitle {
  margin-right: 5px;
  line-height: 60px;
}
#serverTime {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  margin-right: 35px;
  line-height: 40px;
  padding: 0px 5px;
}

@media only screen and (min-width: 2000px) {
  .server {
    font-size: 1vw;
  }
  #mainTitle {
    font-size: 1vw;
  }
  #mainTitle:after {
    width: 2px;
  }
  #timerName {
    font-size: 1vw;
  }
}

@media only screen and (min-width: 800px) and (max-width: 2000px) {
  .server {
    font-size: 1.2em;
  }
  #mainTitle {
    font-size: 1.6em;
  }
  #mainTitle:after {
    width: 1px;
  }
  #timerName {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 800px) {
  .server {
    font-size: 18px;
  }
  #mainTitle {
    font-size: 18px;
    margin-left: 20px;
    padding-right: 10px;
  }
  #mainTitle:after {
    width: 1px;
    height: 60%;
    top: 12px;
  }
  #timerName {
    font-size: 18px;
    margin-left: 10px;
  }
}
