@font-face {
  font-family: "Digital Dismay";
  src: url("./Digital\ Dismay.otf");
}
.timerTemplate {
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-family: "Open Sans", sans-serif;
  text-align: right;
}
.timerContainer {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(24, 20, 20);
  border-radius: 5px 5px 5px 5px;
  letter-spacing: 3px;
  border: 0.5px solid black;
  font-family: "Digital Dismay";
  padding: 2px 10px 2px 20px;
  font-size: 5.5vw;
}
.timerCountdown {
  grid-area: 1/1/1/1;
  color: #33ff33;
  z-index: 1;
}
.timerBg {
  grid-area: 1/1/1/1;
  position: relative;
  color: #404040;
  opacity: 0.3;
}

@media only screen and (max-width: 800px) {
  .timerTemplate {
    margin-top: 10%;
  }
  .timerContainer {
    font-size: 17vw;
  }
}
