@font-face {
  font-family: "Digital Dismay";
  src: url("./Digital\ Dismay.otf");
}
.timerTemplate {
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80%;
  height: 20vh;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  font-family: "Open Sans", sans-serif;
}
.timerContainer {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: right;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  min-height: 20vh;
  padding-right: 2%;
  background-color: rgb(24, 20, 20);
  border-radius: 5px 5px 5px 5px;
  border: 0.5px solid #535353;
}
.timerCountdown {
  grid-area: 1/1/1/1;
  width: 95%;
  font-size: 12vh;
  font-family: "Digital Dismay";
  color: white;
  letter-spacing: 3px;
  line-height: 15vh;
  padding: 4% 3% 4% 5%;
  min-height: 20vh;
  z-index: 1;
}
.timerBg {
  grid-area: 1/1/1/1;
  position: relative;
  width: 95%;
  color: #404040;
  font-size: 12vh;
  font-family: "Digital Dismay";
  letter-spacing: 3px;
  padding: 4% 3% 4% 5%;
  line-height: 15vh;
  min-height: 20vh;
  opacity: 0.15;
}

@media only screen and (max-width: 800px) {
  .timerTemplate {
    margin-top: 10%;
    height: 40vh;
  }
  .timerContainer {
    max-height: 20vh;
    padding-bottom: 6%;
  }
  .timerCountdown {
    font-size: 20vh;
    padding: 8% 3% 8% 5%;
  }
  .timerBg {
    font-size: 20vh;
    padding: 8% 3% 8% 5%;
  }
}
